useDynLib(vdra, .registration=TRUE)
S3method(plot, survfitDistributed)
S3method(print, hoslemdistributed)
S3method(print, rocdistributed)
S3method(print, summary.vdracox)
S3method(print, summary.vdralinear)
S3method(print, summary.vdralogistic)
S3method(print, survfitDistributed)
S3method(print, vdracox)
S3method(print, vdralinear)
S3method(print, vdralogistic)
S3method(summary, vdracox)
S3method(summary, vdralinear)
S3method(summary, vdralogistic)
export(AnalysisCenter.2Party)
export(AnalysisCenter.3Party)
export(AnalysisCenter.KParty)
export(DataPartner.2Party)
export(DataPartner.KParty)
export(DataPartner1.3Party)
export(DataPartner2.3Party)
export(differentModel)
export(HoslemTest)
export(plot.survfitDistributed)
export(pmn)
export(print.hoslemdistributed)
export(print.rocdistributed)
export(print.summary.vdracox)
export(print.summary.vdralinear)
export(print.summary.vdralogistic)
export(print.survfitDistributed)
export(print.vdracox)
export(print.vdralinear)
export(print.vdralogistic)
export(RocTest)
export(summary.vdracox)
export(summary.vdralinear)
export(summary.vdralogistic)
export(survfitDistributed)
